In [73]:
import pandas as pd
import numpy as np

In [110]:
retail = pd.read_csv('http://fimi.uantwerpen.be/data/retail.dat')

In [4]:
records = retail.values.tolist()
for i in range(len(records)):
    records[i] = records[i][0].split()

In [6]:
items = []
for i in range(len(records)):
    for j in range(len(records[i])):
        items.append(records[i][j])

unique_items = list(set(items))

count_unique = []

for val in (unique_items):
    count_unique.append((val, items.count(val)))


C1 = pd.DataFrame(count_unique, columns=["Itemset", "Support"])
C1

      Itemset  Support
0        8408        1
1        1899      258
2        6525       22
3        9041       15
4        5575       16
...       ...      ...
16465    8292        2
16466    9092        3
16467   11405        6
16468    7783        4
16469      98      232

[16470 rows x 2 columns]

In [9]:
L1 = C1.loc[C1['Support'] >= 1000]
L1

      Itemset  Support
539        19     1004
866       438     1863
1392       32    15167
1670       65     4472
2125    12925     1467
2773     2238     1715
2791      255     1474
3452      338     1274
4480      271     2094
4712    16010     1316
4965      237     3032
5390     1146     1426
5878      147     1779
5883    16217     1166
6427      117     1026
6797      604     1209
6876     1327     1786
6940      475     2167
7180     1004     1102
7390      740     1181
7571       37     1074
7610      286     1183
7847      185     1376
8437      677     1110
8549    14098     1291
8721      589     1119
8778       36     2936
8953      101     2237
9164      413     1880
9793       41    14945
9798       89     3837
10087   13041     1051
10098      39    50675
10337    1393     1161
10438     548     1137
10708      48    42135
10862     123     1302
11064      49     1120
11082      78     1060
11748     270     1734
12531     592     1227
12901     110     2794
13273       9     1371
14044      38    15596
14082     225     3257
14175     533     1487
14204     201     1133
14251     249     1160
14902     170     3099
14932      60     1489
15573     301     1204
15699     161     1010
15717      79     1600
15831     310     2594
15897     824     1210
16409   15832     1143

In [99]:
arr = []
for i in L1['Itemset']:
    for j in L1['Itemset']:
        if i == j:
            pass
        else:
            for k in records:
                if i in k and j in k and [i,j,0] not in arr:
                    arr.append([i,j,0])
                    
for i in range(len(arr)):
    for j in records:
        if arr[i][0] in j and arr[i][1] in j:
            arr[i][2] += 1

In [106]:
C2 = pd.DataFrame(arr, columns=['Item 1','Item 2','Count'])
C2

     Item 1 Item 2  Count
0        19    438     31
1        19     32    180
2        19     65     74
3        19  12925     21
4        19   2238      8
...     ...    ...    ...
3061  15832    301     20
3062  15832    161     14
3063  15832     79     17
3064  15832    310     58
3065  15832    824     41

[3066 rows x 3 columns]

In [108]:
L2 = C2.loc[C2['Count'] >= 200]
L2

     Item 1 Item 2  Count
28       19     41    202
31       19     39    592
34       19     48    591
56      438     32    349
83      438     41    428
...     ...    ...    ...
2994    824     48    701
3016  15832     32    231
3041  15832     41    421
3043  15832     39    718
3046  15832     48    585

[508 rows x 3 columns]